table, td {
    border: 1px solid black;
    border-radius: 10px;
}

#entityId {
    display: none;
}

h1 {
    background-image: "movie_banner.jpeg";
    background-repeat: no-repeat;
    background-position: center center;
}